*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.game{
    width: 100%;
    height: 100vh;
    background-color:rgb(191, 185, 185);
    overflow: hidden;
}
.score{
    color:black;
    font-weight:bold;
    border-radius: 3px;
    padding:7px;
    background-color:aquamarine;
    position:absolute;
    top:30px;
    left:50px;
    text-align: center;
}
.gameArea{
    width: 400px;
    height: 100vh;
    background-color: rgb(83, 83, 83);
    margin: auto;
    position: relative;
}
.startScreen:hover{
    cursor: pointer;
}
.startScreen{
    border-radius: 5px;
    color:white;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    width:500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:blueviolet;
    z-index: 1;

}
.hide{
    display: none;
}
.car,.enemyCar{
    height:60px;
    width: 35px;
    background-repeat: no-repeat;
    position: absolute;
    left:0px;
    bottom:100px;
}
.car{
    background-image: url('22.png');
}
.roadLine{
    height: 110px;
    width:14px;
    background-color:white;
    position:absolute;
    margin-left:193px
}